[alias]
# List all aliases
  la = "!git config -l | grep alias | cut -c 7-"
  co = checkout
  st = status
  del = branch -D
  unstage = restore --staged
# PRs will show commits pushed by this command with a tag that it was a history rewrite
  please = push --force-with-lease
# ! tells git to execute with shell, set the upstream by outputting the current branch
  setup = "!git push --set-upstream origin $(git branch --show-current)"
# checkout branch
  cob = checkout -b
# shows diff of locally staged changes in CLI environment
  diffs = diff --staged
# Set me back to the tip of master
  crap = !git add . && git reset --hard HEAD
# Let me change the previous commit
  amend = commit -a --amend
# add patches for unstaged files
  patch = add --patch
# Logs with colors and normal dates
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
# Log commit with each file changed and +/- for it
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat